/* ==================================================
 * #MB VIEW
 * ==================================================
*/
/*SECTION INFOS*/

main.global > *{
  background-color: #Aaddff;
  text-align: center; /*text align for MB & MB*/ 
  margin: 1rem;
}
.item-full{ /*h1 bgc -a view*/
  flex: 1  100%;
  background-color: aqua; 
}
 form p{
   text-align: end;
   margin-right: 25%;
}
  .ok{/*  re adjust header ok to contact*/
    width: 4rem;
  }
    /* ==================================================
 * #MD VIEW
 * ==================================================
*/
@media screen and (min-width: 600px) { 
  /* ==================================================
   * #CONTAINER DISPLAY
   * ==================================================
  */
  .container-12 > .item-4c{
    flex-basis: calc(100% * 4 / 12 - 2rem) ;
  }
  .global{/*Ajust global container to map*/
    flex-direction: column;
    margin-top: 1rem;
  }
  #map{/*google map*/
    height: 20rem;
    width: auto;
  }

  
  .item-full{/*h1*/
    margin-top: -1rem;
  }   
  .l{/*bottom block left*/
    flex:0 0 calc( 100% / 2 - 2rem);
  }

  /* ==================================================
   * #FORM
   * ==================================================
  */
  .form{
    display: flex;
    flex-wrap: wrap;
  }
  form p{
    text-align: end;
    margin-right: 25%
    margin: 0;
    padding: 0
  }
  p input{
    width: 70%;
    height: 3rem;
  }
  .envoyer{
    width: 30%;
    height: 4rem;
}
  .commentaire{/*text area size*/
    display: unset;
    margin-top: 1.3rem;
    width: 30rem;
    height: 25rem;
  }
}
/* ==================================================
 * #LG VIEW
 * ==================================================
*/
@media screen and (min-width: 1024px){

  /* ==================================================
   * #CONTAINER DISPLAY
   * ==================================================
  */
  /*display all container- in flex*/
  [class*="container-"] {
    flex-direction: row;
  }
  .item-4c > article{
    text-align: left;
  }
    /* ==================================================
   * #FORM
   * ==================================================
  */
  .commentaire{
    height: 23.5rem;
    width: 30rem;
  }
  form p{
    margin-right: 2rem;
  }
  p input{
    height: 4rem;
  } 
  form > div{
    text-align: right;
    margin: 1rem;
  }
 
}   
