/* ==================================================
 * #MB VIEW
 * ==================================================
*/

h1{
  font: 3rem   normal italic  ;
  color: inherit;
}
h2{
color: #AAD5DF;
}

/* ==================================================
 * #MD VIEW
 * ==================================================
*/
@media screen and (min-width: 600px) { 
   /*ITEM DETAIL*/
  .item-detail{
    width: 25rem;
    margin: auto;
    margin-top: 5rem;
  }
  .item-miniature{
    display: flex;
   /*  MINIATURE / 4 */
  }
  .image-miniature{
    flex-basis: calc(100% /4);
    height: 7rem;
    width: auto;
  }
  .image-miniature:hover{
    height: 11rem;
  }
  .block-description{/*Extend description content*/
    flex: 1;
  }
}

/* ==================================================
 * #LG VIEW
 * ==================================================
*/
@media screen and (min-width: 1024px) { 
  .item-detail{
    width: 100rem;
  }
  .block-description{
    margin-left: 10rem;
  }
}

/* ==================================================
 * #MD VIEW
 * ==================================================
*/
@media screen and (min-width: 600px) { 
   /*ITEM DETAIL*/
  .item-detail{
    width: 25rem;
    margin: auto;
    margin-top: 5rem;
  }
  .item-miniature{
    display: flex;
   /*  MINIATURE / 4 */
  }
  .image-miniature{
    flex-basis: calc(100% /4);
    height: 7rem;
    width: auto;
  }
  .image-miniature:hover{
    height: 11rem;
  }
  .block-description{/*Extend description content*/
    flex: 1;
  }
}

/* ==================================================
 * #LG VIEW
 * ==================================================
*/
@media screen and (min-width: 1024px) { 
  .item-detail{
    width: 100rem;
  }
  .block-description{
    margin-left: 10rem;
  }
}
